/* Normalize styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #cc6600;
  --secondary-color: #ff9900;
  --tertiary-color: #aaaaaa;
  --white-color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
}

.scores a,
.timer p {
  font-size: 20px;
}

.scores a {
  color: var(--secondary-color);
}

.scores a:hover {
  color: var(--tertiary-color);
}

/* Start Quiz */
.start-quiz {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

/* Buttons */
button {
    font-family: Arial, Helvetica, sans-serif;
  border: none;
  width: auto;
  overflow: visible;
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: large;
  margin: 10px;
  color: var(--white-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.hide {
    display: none;
  }
  
/* Wrapper */
ol {
  counter-reset: count;
}

ol li {
  padding: 10px;
  background-color: var(--primary-color);
  list-style-type: none;
  width: fit-content;
  min-width: 250px;
  border-radius: 10px;
  font-size: large;
  margin: 10px 0;
}

ol li:hover {
  background-color: var(--secondary-color);
}

ol li:before {
  counter-increment: count;
  content: counter(count) " ";
  margin-right: 0.5em;
  display: inline-block;
  padding: 0 5px;
  color: var(--white-color);
}

ol li a {
  color: var(--white-color);
}

h2 {
  color: var(--tertiary-color);
  border-top: 1px solid var(--tertiary-color);
  margin: 20px 0;
  font-style: italic;
}
